<div data-layout="main" data-role="view"   data-model="app.contactsListView.contactsListViewModel" data-bind="events: { show: detailsShow }" id="contactsListViewModelDetailsView">
    <header data-role="header">

    </header>

    <div class="details-content">
        <img class="img-circle" data-bind="attr: { src: currentItem.picture.mediumUrl }" width="40%" height="auto">
        <p class="editableListItem">
            <label>Nome:<input type='text' disabled data-bind="value: currentItem.name.first"></input></label>
        </p>
        <p class="editableListItem">
            <label>Sexo:<input type='text' disabled data-bind="value: currentItem.gender"></input></label>
        </p>
        <p class="editableListItem">
            <label>Email:<input type='text' disabled data-bind="value: currentItem.email"></input></label>
        </p>
        <p class="editableListItem">
            <label>Telefone:<input type='text' disabled data-bind="value: currentItem.phone"></input></label>
        </p>
    </div>
    <div class="button-group button-group">
        <a data-role="backbutton" align="left" data-bind="events: { click: deleteClick }">Excluir</a>
        <a data-role="backbutton" align="right" class="primary" >Fechar</a>
    </div>

    <!-- START_CUSTOM_CODE_contactsListViewModel  class="excluir" class="contatos-fechar" -->
    <!-- END_CUSTOM_CODE_contactsListViewModel -->
</div>