<div data-role="view" data-title="Details" data-model="app.contactsListView.contactsListViewModel" data-bind="events: { show: detailsShow }" id="contactsListViewModelDetailsView">
    <header data-role="header">
        
    </header>

    <div class="details-content">


        <img class="img-circle" data-bind="attr: { src: currentItem.user.picture.mediumUrl }" width="50%" height="auto">
        <p class="editableListItem">
            <label>Nome:<span data-bind="text: currentItem.user.name.first"></span></label>
        </p>
        <p class="editableListItem">
            <label>Sexo:<span data-bind="text: currentItem.user.gender"></span></label>
        </p>
        <p class="editableListItem">
            <label>Email:<span data-bind="text: currentItem.user.email"></span></label>
        </p>
        <p class="editableListItem">
            <label>Telefone:<span data-bind="text: currentItem.user.phone"></span></label>
        </p>
    </div>
    <div data-role="navbar" >
            <a data-role="backbutton" data-align="left">Fechar</a>
            <a data-role="button" data-align="right" data-bind="events: { click: deleteClick }"><i class="km-icon km-delete"></i>Excluir</a>
        </div>
    <!-- START_CUSTOM_CODE_contactsListViewModel -->
    <!-- END_CUSTOM_CODE_contactsListViewModel -->
</div>