<div data-role="view" data-title="New Contact" data-layout="main" data-model="app.formView" data-show="app.formView.onShow" data-after-show="app.formView.afterShow">
    <div id="formViewModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>

                    <label>Nome
                        <input data-bind="value: formViewModel.fields.name" type="text">
                    </label>

                </li>
                <li>

                    <label>Sexo
                        <input data-bind="value: formViewModel.fields.gender" type="text">
                    </label>

                </li>
                <li>

                    <label>Birthday
                        <input data-bind="value: formViewModel.fields.birthdate" type="text">
                    </label>

                </li>
                <li>

                    <label>Email
                        <input data-bind="value: formViewModel.fields.email" type="email">
                    </label>

                </li>
                <li>

                    <label>Telefone
                        <input data-bind="value: formViewModel.fields.mobile" type="tel">
                    </label>

                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: formViewModel.cancel }">Próximo</a>
                <a class="primary" data-role="button" data-bind="events: { click: formViewModel.submit }">Salvar</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_formViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_formViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_formView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_formView -->
</div>