<!-- about view -->
<div data-layout="main" data-role="view"  data-layout="main" data-model="app.aboutView" data-show="app.aboutView.onShow" data-after-show="app.aboutView.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">
            <div class="app-details">
                <h2>POC-TOTVS</h2>
                <h4>Version 1</h4>
                <img src="totvs+progress.png" width="100%"/>
            </div>
        </div>
        <p>Este App tem como objetivo estreitar o relacionamento entre a PROGRESS e a TOTVS com a aquisição do TELERIK PLATFORM como solução para desenvolvimento mobile.</p>
        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="external" href="mailto:rbognar@progress.com">Entre em contato</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.aboutView.aboutViewModel.openLink('https://www.facebook.com/Telerik');">Facebook</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.aboutView.aboutViewModel.openLink('https://twitter.com/telerik');">Twitter</a>
        </div>
        <div class="button-group button-group-vertical">
           <a class='primary' data-role="button" onclick="app.aboutView.aboutViewModel.clearLocalData();">Limpar dados</a>
        </div>
    </div>
</div>