<div data-role="view" data-model="app.novoContatoView.novoContatoViewModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
       </div>
    </header>


    <!-- <img data-bind="attr: { src: currentItem.user.picture.thumbnailUrl }" width="100%" height="auto"> -->
    <div class="details-content">


        <img class="img-circle" data-bind="attr: { src: currentItem.user.picture.thumbnailUrl }" width="50%" height="auto">
        <p class="editableListItem">
            <label>Nome:<span data-bind="text: currentItem.user.name.first"></span></label>
        </p>
        <p class="editableListItem">
            <label>Sexo:<span data-bind="text: currentItem.user.gender"></span></label>
        </p>
        <p class="editableListItem">
            <label>Email:<span data-bind="text: currentItem.user.email"></span></label>
        </p>
        <p class="editableListItem">
            <label>Telefone:<span data-bind="text: currentItem.user.phone"></span></label>
        </p>
    </div>
   <!--  <div data-role="navbar" > 
        <a data-role="backbutton" data-align="left" >Fechar</a>
        <a data-role="button" data-align="right" data-bind="events: { click: saveClick }">Salvar</a>
    </div> -->
    <div class="button-group button-group-vertical">
        <a class="primary" data-role="backbutton" data-bind="events: { click: saveClick }">Salvar</a>
        <a data-role="backbutton" data-bind="events: { click: nextClick }">Proximo</a>
    </div>
    <!-- START_CUSTOM_CODE_novoContatoViewModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_novoContatoViewModel -->
</div>