<!-- tela que adiciona contato -->
<div id="novoContatoView" data-role="view"  data-layout="main" reload='true'  data-model="app.novoContatoView.novoContatoViewModel"  data-bind="events: { show: detailsShow }">
    <div class="details-content">
        <img class="img-circle" data-bind="attr: { src: currentItem.picture.thumbnail }" width="40%" height="auto">
        <p class="editableListItem">
            <label>Nome:<input type="text" data-bind="value: currentItem.name.first"></input></label>
        </p>
        <p class="editableListItem">
            <label>Sexo:<input type="text" data-bind="value: currentItem.gender"></input></label>
        </p>
        <p class="editableListItem">
            <label>Email:<input type="text" data-bind="value: currentItem.email"></input></label>
        </p>
        <p class="editableListItem">
            <label>Telefone:<input type="text" data-bind="value: currentItem.phone"></input></label>
        </p>
    </div>
    <div class="button-group button-group">
        <a data-role="button" data-bind="events: { click: nextClick }">Proximo</a>
        <a class="primary" data-role="button" data-bind="events: { click: saveClick }">Salvar</a>
    </div>
</div>